body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hackerrank-logo {
  filter: invert(98%) sepia(5%) saturate(781%) hue-rotate(21deg) brightness(87%) contrast(92%);
}

.custom-link:hover .hackerrank-logo{
  filter: invert(77%) sepia(86%) saturate(1158%) hue-rotate(331deg) brightness(102%) contrast(98%);
}

.custom-link:hover {
  color: #FDB833;
  text-decoration-color: #FDB833;
  cursor: pointer;
}

.profile-picture {
  position: relative;
  z-index: 1;
}

.profile-picture::before {
  content: " ";
  height: 256px;
  width: 256px;
  border-radius: 256px;
  box-sizing: border-box;
  position: absolute;
  background-color: #FDB833;
}

.profile-picture img {
  opacity: 0.75;
}

.profile-picture img:hover {
  opacity: 1;
}

.profile-picture::after {
  content: " ";
  height: 256px;
  width: 256px;
  border-radius: 256px;
  box-sizing: border-box;
  top: 15px;
  right: -15px;
  bottom: -15px;
  left: 15px;
  position: absolute;
  z-index: -1;
  border: 2px solid #FDB833;
  transition-duration: 100ms;
} 

.profile-picture:hover::after {
  content: " ";
  height: 256px;
  width: 256px;
  border-radius: 256px;
  box-sizing: border-box;
  top: 10px;
  right: -10px;
  bottom: -10px;
  left: 10px;
  position: absolute;
  z-index: -1;
  border: 2px solid #FDB833;
}