:root {
  --kombu-green: #242A25;
  --hunter-green: #304831ff;
  --fern-green: #496b3dff;
  --may-green: #6a994eff;
  --laurel-green: #bdc5aaff;
  --honey-yellow: #fdb833ff;
  --white: #ffffffff;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: fixed;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  z-index: -1;
}

body, header {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--kombu-green) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hackerrank-logo {
  filter: invert(98%) sepia(5%) saturate(781%) hue-rotate(21deg) brightness(87%) contrast(92%);
}

.custom-link:hover .hackerrank-logo {
  filter: invert(77%) sepia(86%) saturate(1158%) hue-rotate(331deg) brightness(102%) contrast(98%);
}

a {
  color: var(--honey-yellow);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.custom-link:hover {
  color: var(--honey-yellow);
  text-decoration-color: var(--honey-yellow);
  cursor: pointer;
}

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  color: var(--laurel-green);
  background-color: var(--fern-green);
}

.profile-picture {
  position: relative;
  border: 5px solid var(--honey-yellow);
  border-radius: 50%;
}